.about-me-box{
    width: 100%;
    height: 100vh;
    margin-top: 3%;
    
}


.about-me{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-header{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 20rem;
}

.about-pic{
    height: 20rem;
    margin-left: 2%;
}

.about-title{
    text-align: left;
}

.about-text{
    text-align: left;
    line-height: 1.8;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 1.2rem;
    
}

.about-hero{
    margin-top: 5%;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
}

.hero-title{
    color: #c79c60;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    
}

.hero-text{
    color: #fff;
    font-size: 1.4rem;
    padding: 1%;
    font-family: 'Open sans';
}

.about-text2{
    height: 60vh;
}

.about-text2 h1{
    font-family: 'Open sans';
    font-weight: 700;
    margin-top: 3%;
}

.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 6%;
    line-height: 1.6;
    text-align: left;
    margin: 1%;
    flex-wrap: wrap;
    font-family: 'Open sans';
}

i {
    font-size: 3rem;
    color: #c79c60;
}

.offer-item{
    flex: 1 0 calc(40% - 20px);
    margin: 1%;
}