.about-me-box{
    width: 100%;
    height: 100vh;
    
}

.about-header{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%;

}

.about-text{
    display: flex;
    flex-direction: column;
    font-family: 'Open sans';
    padding: 2rem;
    margin-top: 0%;
    line-height: 1.7;
    font-weight: 600;
    animation: 0.8s fadeInRight ease-in;
}


.about-text1{
    text-align: left;
}

.about-title{
    text-align: left;
    top: 0;
    
}

.about-hero{
    height: 60vh;
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -ms-background-attachment: scroll;
    -moz-background-attachment: scroll;
    animation: 0.5s fadeInUp ease;
}

.hero-title{
    color: #c79c60;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    
}

.hero-text{
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Open sans';
}

.about-text2{
    height: 60vh;
}



.offers{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    line-height: 1.6;
    text-align: left;
    flex-wrap: wrap;
    font-family: 'Open sans';
}

i {
    font-size: 3rem;
    color: #c79c60;
}

.offer-item{
    flex: 1 0 calc(40% - 20px);
    margin: 1%;
}

@media only screen and (min-width:1600px) {
    .offers{
        padding: 0px;
    }
}

@media only screen and (max-width:870px) {
    .hero-title{
        font-size: 2.8rem;
    }
    .hero-text{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width:768px) {
    .offers{
        flex-direction: column;
    }
    .hero-title{
        font-size: 2.6rem;
    }
    .hero-text{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:540px) {
    .about-text2{
        margin-top: 50px;
    }
    .hero-title{
        font-size: 2.4rem;
    }
    .hero-text{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:460px) {
    .about-text2{
        margin-top: 100px;
    }
    .hero-title{
        font-size: 2.2rem;
    }
    .hero-text{
        font-size: 1rem;
    }
    .about-text2{
        width: 90%
    }
}

@media only screen and (max-width:380px) {
    .about-text2{
        margin-top: 160px;
        font-size: .8rem;
    }

    .about-text2 h1 {
        font-size: 1.2rem;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-text{
        font-size: .9rem;
    }
    .about-text2{
        width: 80%
    }
}

@media only screen and (max-width:325px) {
    .about-text2{
        margin-top: 210px;
    }
    .hero-title{
        font-size: 1.8rem;
    }
    .hero-text{
        font-size: .8rem;
    }
}

@media only screen and (max-width:290px) {
    .about-text2{
        margin-top: 250px;
    }
    .hero-title{
        font-size: 1.6rem;
    }
    .hero-text{
        font-size: .7rem;
    }
}



