.contact-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}

.contact-data{
  line-height: 1.7;
  margin-top: 5%;
  padding-left: 2%;
}

.data-item p {
  font-family: 'Open sans';
  letter-spacing: 2px;
  font-weight: 600;
  margin: 5%;
  text-align: left;
}

.data-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding-right: 29%;
  
}


.leaflet-container {
    height: 600px;
    width: 40%;
    position: absolute;
  }

  

  @media only screen and (max-width: 1280px) {
    .leaflet-container {
      height: 500px;
    }
  }

  @media only screen and (max-width: 1080px) {
    .data-item p {
      font-size: .7rem;
    }

    .leaflet-container {
      height: 400px;
    }
  }
  


  @media only screen and (max-width: 1024px) {
    .contact-data{
      padding-left: 0%;
    }

    #container{
      padding-right: 26%;
      
    }
  }


  @media only screen and (max-width: 768px) {
    .contact-container{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
    }
    .leaflet-container {
      height: 500px;
      width: 100%;
      position: absolute;
    }
    #container{
      width: 100%;
      padding-right: 0%;
      
    }
  }

  @media only screen and (max-width: 768px) {
    .contact-data{
  line-height: 1.7;
  margin-top: 5%;
  padding-left: 2%;
}
      
  }

