.gallery{
    height: 100vh;
    padding: .9375rem 0;
    margin-top: 3%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    
}	

@media only screen and (max-width: 960px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    
    
}	
}

@media only screen and (max-width: 540px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
    
    
}	
}

.gallery-grid img {
    width: 100%;
    border: 5px solid #c79c60;
  }

  .gallery-grid div {
    position: relative;
    cursor: pointer;
  }

  .gallery-grid div:before, .gallery-grid div:after {
    transition: .3s opacity ease;
    opacity: 0;
  }

  .gallery-grid div:after {
    content: '\02194';
    font-size: 80px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    color: #fff;
    left: 50%;
    top: 50%;
    display: block;
  }
  .gallery-grid div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(#222, 0.5);
    display: block;
  }

  .gallery-grid div:hover {
      opacity: 1;
      transition: .3s opacity ease;
  }  

  .gallery-grid div:hover:before {
    opacity: 1;
    transition: .3s opacity ease;
}  

.gallery-grid div:hover:after {
  opacity: 1;
  transition: .3s opacity ease;
}  

.modal {
  position: fixed;
  z-index: 999;
  width: 50%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media only screen and (max-width: 960px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (max-width: 960px) {
  .modal {
    width: 60%;
  }
}


.modal img {
  width: 100%;
  border: 5px solid #fff;
}

  .modal-overlay {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  .modal-body a {
    position: absolute;
    display: inline;
    color: #222;
    text-decoration: none;
    line-height: 36px;
    font-size: 30px;
    font-weight: lighter;
    background: #fff;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  .modal-body .modal-close {
    right: 0; top: 0;
    border-radius: 0 0 0 5px;
  }
  .modal-body .modal-next,
  .modal-body .modal-prev {
    right: 0; top: calc(50% - 25px);
    border-radius: 5px 0 0 5px;
    height: 50px;
    line-height: 40px;
    font-size: 60px;
  }
  .modal-body .modal-prev {
    left: 0;
    right: auto;
    border-radius: 0 5px 5px 0;
  }
  .modal-body {
    position: relative;
  }
  
  
