.home{
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url('../img/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.home-container{
    height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   line-height: .2;

}

.home-container h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: #fff;
    animation: 0.6s fadeInLeft ease;
}

.home-container p {
    font-family: 'Open sans', cursive;
    color: #fff;
    font-size: 1.4rem;
    animation: 0.6s fadeInRight ease;
    
}

.separator{
    margin-top: 1rem;
    width: 45rem;
    height: 1px;
    background-color: #fff;
    animation: 0.7s fadeInUp ease;
}

@media only screen and (max-width: 1024px) {
    .separator{
        width: 40rem;
    }
    .home-container h1 {
        font-size: 4rem;
    }
    
    .home-container p {
        font-size: 1.3rem;
    }    
}

@media only screen and (max-width: 768px) {
    .separator{
        width: 35rem;
    }
    .home-container h1 {
        font-size: 3.5rem;
    }
    
    .home-container p {
        font-size: 1.2rem;
    }    
}

@media only screen and (max-width: 640px) {
    .separator{
        width: 30rem;
    }
    .home-container h1 {
        font-size: 3rem;
    }
    
    .home-container p {
        font-size: 1.1rem;
    }    
}

@media only screen and (max-width: 550px) {
    .separator{
        width: 25rem;
    }
    .home-container h1 {
        font-size: 2.5rem;
    }
    
    .home-container p {
        font-size: 1rem;
    }    
}

@media only screen and (max-width: 440px) {
    .separator{
        width: 20rem;
        margin-top: 10%;
    }
    .home-container h1 {
        font-size: 2.5rem;
    }
    
    .home-container p {
        font-size: 1.1rem;
        line-height: .4;
    } 
    
    .home-container{
        height: 70vh;
      
       line-height: .4;
    
    }
}

@media only screen and (max-width: 380px) {
    .separator{
        width: 17rem;
    }
    
}

