.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.category{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
}

.soup{
    height: 12rem;
}
.main-course{
    height: 12rem;
}

.sidedish{
    height: 12rem;
}

.pizza{
    height: 12rem;
}

.dessert{
    height: 12rem;
}

.appetizer{
    height: 12rem;
}

.element-name{
    background-color: transparent;
    border: none;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.element-name:hover{
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 3rem;
    transition: all .2s;
    cursor: pointer;
}

.category-element{
    flex: 0 1 0  calc(33.333% - 20px);
}

.category-element:hover *> .element-name{
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 3rem;
    transition: all .2s;
    cursor: pointer;
}


@media only screen and (max-width: 1310px) {
    .category-element{
        flex: 1 1  calc(50% - 20px);
    }
}

@media only screen and (max-width: 980px) {
    .category-element{
        flex: 1 1  calc(100% - 20px);
    }
}

@media only screen and (max-width: 910px) {
    .category-element{
        margin: 2%;
    }
} 