.navbar-bck{
    width: 100%;
    background-color: #1E1E1E;
    height: 5rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hamburger-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.hamburger-icon{
    display: none;
    text-align: right;
    box-sizing: border-box;
    width: 90%;
}



.logo-page{
    text-decoration: none;
    color: #fff;

}

.logo{
 height: 7rem;
}

.navbar-box2{
    display: none;
}

.hamburger-btn{
    border: none;
    background-color: transparent;
}
.hamburger-btn:hover{
    cursor: pointer;
}

.navbar-menu{
    margin: 1%;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.navbar-menu:hover{
    color: #c79c60;
    text-decoration: underline #c79c60;
    
    
   
}

.logo-name{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    padding-right: 20%;
    margin-left: 1%;
    
}

.side-drawer{
    height: 100%;
    background: #1E1E1E;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 200;
    display: none;
    flex-direction: column;
}

.sidebar-menu {
    margin: 3%;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.sidebar-menu:hover{
    color: #c79c60;
    text-decoration: none;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}


@media only screen and (min-width: 1600px) {
    .navbar-menu{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1140px) {
    .navbar-menu{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 920px) {
    .navbar-menu{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 850px) {
    .navbar-box{
        margin-right: 5%;
    }

}

@media only screen and (max-width: 850px) {
    .navbar-box{
        margin-right: 3%;
    }

}

@media only screen and (max-width: 768px) {
    .navbar-box{
        display: none;
    }

    .navbar-box2{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    

    .logo-name{
        margin-left: 3%;
    }

    .hamburger-icon{
        display: block;
    }

    .side-drawer{
        display: flex;
    }

}