.navbar-bck{
    width: 100%;
    background-color: #1E1E1E;
    height: 5rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hamburger-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.hamburger-icon{
    display: none;
    text-align: right;
    box-sizing: border-box;
    width: 90%;
}



.logo-page{
    text-decoration: none;
    color: #fff;

}

.logo{
 height: 7rem;
}

.navbar-menu{
    margin: 1%;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.navbar-menu:hover{
    color: #c79c60;
    text-decoration: none;
    border-bottom: 1px solid #c79c60;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}

.logo-name{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    padding-right: 20%;
    margin-left: 1%;
    
}

@media only screen and (max-width: 850px) {
    .navbar-box{
        margin-right: 3%;
    }

}

@media only screen and (max-width: 768px) {
    .navbar-box{
        display: none;
    }

    

    .logo-name{
        margin-left: 3%;
    }

    .hamburger-icon{
        display: block;
    }

}