.navbar-bck{
    width: 100%;
    background-color: #1E1E1E;
    height: 5rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.logo-page{
    text-decoration: none;
    color: #fff;

}

.logo{
 height: 7rem;
}

.navbar-menu{
    margin: 1%;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.navbar-menu:hover{
    color: #c79c60;
    text-decoration: none;
    border-bottom: 1px solid #c79c60;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}

.logo-name{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    padding-right: 20%;
}